<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nadosunbae_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".di.NadoSunBaeApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.NadoSunbaeAndroid">
        <activity
            android:name=".presentation.ui.mypage.OpenSourceActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.mypage.QuitActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.mypage.LogOutActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.review.SeniorPersonalActivity"
            android:exported="false"
            android:label="@string/title_activity_senior_personal"
            android:theme="@style/Theme.NadoSunbaeAndroid.NoActionBar" />
        <activity
            android:name=".presentation.ui.classroom.InformationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.classroom.QuestionDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.ui.mypage.MyPageLikeListActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.mypage.MyPageReplyActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.classroom.QuestionWriteActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.ui.review.ReviewDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.sign.SignUpFinishActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.sign.SignUpBasicInfoActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.sign.SignUpMajorInfoActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.sign.SignUpAgreementActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.sign.CheckMailActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.sign.FindPwActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.sign.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.mypage.ServiceInqueryActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.mypage.NotificationSettingActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.mypage.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.mypage.SearchIdActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.mypage.ModifyMyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.mypage.MyPageSettingActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.mypage.MyPageClassroomReviewActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.mypage.MyPagePostActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".presentation.ui.review.ReviewWriteActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:exported="true" />

        <service
            android:name=".presentation.ui.notification.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>