<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nadosunbae_andorid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NadoSunbaeAndroid">
        <activity
            android:name=".presentation.ui.sign.SignUpFinishActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.sign.SignUpBasicInfoActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.sign.SignUpMajorInfoActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.sign.SignUpAgreementActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.sign.CheckMailActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.sign.FindPwActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.sign.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.mypage.ServiceInqueryActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.mypage.NotificationSettingActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.mypage.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.mypage.SearchIdActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.mypage.ModifyMyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.mypage.MyPageSettingActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.mypage.MyPageClassroomReviewActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.mypage.MyPagePostActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.review.ReviewWriteActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>